<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<connectionStrings>
		<add name="DatabaseConnectionString" connectionString="Data Source = MSI; Initial Catalog = AccountAndPWD;Integrated Security = True;Encrypt=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
